[Unit]
Description=Simplex broadcast bot
After=network.target

[Service]
ExecStart=/home/pi/.cabal/bin/simplex-anonymous-broadcast-bot
Type=notify
Restart=always

[Install]
WantedBy=graphical.target